html, body, div, img, ul, li ,a{
    margin: 0;
    padding: 0;
}

.banner {
    width: 1200px;
    height: 400px;
    border: 10px solid #cccccc;
    overflow: hidden;
    margin: 30px auto;
    position: relative;
    background: url("images/bg.gif") no-repeat center center #cccccc;
}

.bannerInner {
    width: 3200px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
}

.bannerInner div {
    width: 1200px;
    height: 400px;
    float: left;
}

.bannerInner div img {
    border: none;
    vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
}

.banner .focusList {
    background-color: rgba(255, 255, 255, 0.8);
    list-style: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.banner .focusList li {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    margin: 2px 5px;
}

.banner .focusList .selected {
    background-color: red;
}

.banner .left,
.banner .right {
    width: 30px;
    height: 50px;
    background: url("images/bg.png") no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    display: none;
}

.banner .left {
    left: 0;
}

.banner .right {
    right: 0;
    background-position: -48px 0;
}